WebContent/WEB-INF/XML-DATABASE/candidatures.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="candidatureType">
        <xs:all>
            <xs:element name="motivation" type="xs:string" />
            <xs:element name="school" type="xs:string" />
            <xs:element name="note" type="xs:string" />
            <xs:element name="diplome" type="xs:string" />
        </xs:all>
    </xs:complexType>
    <xs:element name="candidatures">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="candidature" maxOccurs="unbounded" type="candidatureType" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>